@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

body {
  font-family: "Roboto", sans-serif;
}
h1,
p {
  -webkit-text-size-adjust: 100%;
  line-height: 1.428571429;
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
  font-size: 2em;
  position: relative;
  text-align: center;
  font-weight: 900;
}

p {
  text-align: left;
  font-weight: 400;
  text-align: center;
  font-size: 1em;
}

a {
  text-decoration: none;
  color: #376fc0;
}
